* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #121214; 
    --text-color: #e1e1e6; /* Texto em cinza claro   */
    --blue-tech: #3b82f6; /* O seu azul para destaques e botões */
}

/* Aplicando as cores no corpo do site */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    /*Cemtralização  e  layout*/
    max-width: 800px;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 40px 20px;/*Cria um  respiro nas bordas do  navegador*/
}

/* Organizando o rodapé para alinhar os botões */
footer {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 40px; /* Espaço acima do rodapé */
}

/* Estilizando os  links  para  ficarem  com  cara  de botão */
footer a{
    background-color: var(--blue-tech);
    color: #ffffff;
    text-decoration: none; /* Remove o sublinhado */
    padding: 12px 24px; /* Define o tamanho  do  botão (vertical e horizontal) */
    border-radius: 6px;
    font-weight: bold;
    transition: filter 0.3s; /* Prepara  a animação  do mouse */

}

/* Efeito  ao passar  o mouse por cima do botão */
footer a:hover {
    filter: brightness(0.8); /* Escurece o botão */
}