* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #121214; 
    --text-color: #e1e1e6; /* Texto em cinza claro   */
    --blue-tech: #3b82f6; /* O seu azul para destaques e botões */
}

/* Aplicando as cores no corpo do site */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    /*Cemtralização  e  layout*/
    max-width: 800px;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 40px 20px;/*Cria um  respiro nas bordas do  navegador*/
}

:root {
    --bg-color: #121214; /* Fundo escuro, bem moderno */
    --text-color: #e1e1e6; /* Texto em cinza claro para não cansar a vista */
    --blue-tech: #3b82f6; /* O seu azul para destaques e botões */
}

/* Aplicando as cores no corpo do site */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif; /* Fonte limpa e sem serifa */
}